
.center {
  margin: auto;
  width: 300px;
  text-align: center;
  scale: 150%;
}

.topBar {
  margin: auto;
  width: 600px;
  text-align: center;
}

button {
  background-color: #413939;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 25px;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: all ease-in 0.1s;
  cursor: pointer;
  opacity: 1;
  margin: -10px;
  scale: 75%;
  width: 200px;
}

.buttonSmall {
  font-size: 15px; 
}

body{
  background-color: #f2f2f2;
}

button:hover {
  background-color: #413939;
  color: #f0525f;
}

button:disabled {
  background-color: #d8d8d8;
  color: black;
  text-decoration: line-through;
}

.listButton {
  background-color: #d8d8d8;
  color: black;
  width: 300px;
  padding: 10px 20px;
  border-radius: 0px;
  border: none;
  appearance: none;
  font-size: 20px;
  cursor: crosshair;
  opacity: 1;
  margin: 10px;
}

.listButton:hover {
  background-color: #f0525f;
  color: white;
}

.listEdit {
  background-color: #fcf8f8;
  color: black;
  padding: 10px 20px;
  border-radius: 0px;
  border: none;
  width: 0px;
  appearance: none;
  font-size: 20px;
  cursor: crosshair;
  opacity: 1;
  margin: 10px;
  flex-grow: 1;
}

.listEditActive {
  background-color: #fcf8f8;
  color: black;
  margin: 0px;
}


.editButton {
  background-color: white;
  cursor: pointer;
}

.editButton:hover{
  background-color: blue;
}

.label{
  background-color: #00000000;
  color: white;
  margin: 0px;
  font-size: 20px;
  cursor: default;
  scale: 100%;
 
}

.label:hover{
  background-color: #00000000;
  color:white;
}

.chips {
  background-color: white;
}

.reagents {
background-color: white;
}

.editor {
  background-color: white;
}

.editorName {
  background-color: #fcf8f8;
  color: black;
  padding: 10px 20px;
  border-radius: 0px;
  border: none;
  appearance: none;
  font-size: 20px;
  cursor: crosshair;
  opacity: 1;
  margin: 10px;
}

.bottom {
  position: absolute;
  bottom: 0;
  left: 0;
}

.error {
  background-color: #ffffff;
  margin: 10px;
  font-size: 20px;
  cursor: default;
  color:red;
}

.error:hover{
  background-color: #ffffff;
  color:red;
}


#video {
  position: fixed;
  z-index: -1;
  width: 100%;
}

.logo {
  margin: 50px;
  height: 120px;
  width: auto;
}